@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #8da99b;
    --cor2: #fab3ad;
    --cor3: #2c2827;
    --cor4: #610a10;
    --cor5: #57675c;
}
html,body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    overflow-x: hidden;
    
}
header{
    background-image: url('../imagens/familia_forger.webp');
    background-size: cover; 
    background-position: center center;
    height: 90vh;
    width: 100vw;
    
}
div#head{
    position: relative;
    background-color: rgba(0, 0, 0, 0.688);
    width: 100vw;
    height: 90vh;
    clear: both;
    color: white;
   

}
div#head>h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   font-size: 6vw;
   text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.482);
   
}
 #head>nav{
    padding: auto;-right: 20px;
    padding: 20px;
}

header a{
    float: right;
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 30px;
    border: 1px solid #57675c;
}
header a:hover{
    background-color: #57675c;
    transition-duration: 0.5s;
    border-radius: 30px;
}
main{
    background-color: white;
    margin: auto;
}
main h1, h2{
    margin: 5px;
    padding: 5px;
}
main p{
    font-size: 20px;
    line-height: 28px;
}
article{
    padding:  30px;
    text-align: justify;
}
article>p{
    text-indent: 30px;
    margin-bottom:10px ;
}
article#autor{
    color: white;
    background-color: #2c2827;
     height: 55vh;
    padding: 30px;
}
img#endo{
    float: right;
    width: 25vw;
    padding: 0px 10px;
}

section{
    text-align: center;
    
    
}
    
div#esquerda{
    float: left;
    width: 15vw;
}
#esquerda>img{
    width: 15vw;
}
div#direita{
    float: right;
    width: 15vw;
}
#direita>img{
    width: 15vw;
}
div#tabela{
    position: relative;
    float: left;
    width: 70vw;
    
   

}
div#tabela>table{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    border-collapse: collapse;
    width: 47vw;
     
}
caption{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}
table a{
    text-decoration: none;
    color: white;
}
table a:hover{
    text-decoration: underline;
}
 th{
    background-color: black;
    color: white;
}
td,th{
    border: 1px solid black;
    padding: 10px;
}
tr:nth-child(even){
    background-color: #675c5a;
}
tr:nth-child(odd){
    background-color: white;
}
aside{
    background-image: linear-gradient(to bottom, white, #57675c);
    position: relative;
    clear: both;
    padding: 20px;
    width: 100vw;
    height: 50vh;
}
aside>img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 330px;
    border-radius: 25px;
    border: 1px solid black;
}

img#ashe:hover{
    display: none;
}
