@charset "UTF-8";

body{
    position: relative;
    background-color: #610a10;
    width: 100vw;
   height: 100vh;
}
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #610a10;
    width: 100vw;
}
img{
    width: 35vw;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 20px;
    box-sizing: border-box;
}
img:hover{
    padding: 0px;
    transition-duration: 0.4s;
}
p{
    color: white;
}
